.container .cart {
    visibility: hidden;
}

.container:hover .cart {
    visibility: visible;
}

.background {
    background: linear-gradient(rgba(255, 255,255,.5), rgba(255, 255,255,.5)), url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
}

.background1 {
    background: linear-gradient(rgba(255, 255,255,.5), rgba(255, 255,255,.5)), url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
}


